.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.85);
  z-index: 10;
}

.login-modal, .signup-modal {
    position: relative;
    top: 30px;
    margin: 0 auto;
    width: 345px;
    background-color: white;
    padding: 22px 19px 8px 15px;
    border: 2px solid #EBEBEB;
    box-shadow: 0 0 10px #EBEBEB;
}

.login-modal > .session-form, .signup-modal > .session-form {
    position: relative;
    top: 0px;
}

.modal-background > div > div.session-form {
    left: -7px;
    width: 325px;
}