.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.42;
    position: fixed;
    z-index: 1;
    background-color: #ffffff;;
}

.navbar .pacacamp-container {
    vertical-align: center;
}

.navbar .pacacamp-container a {
    font-size: 30px;
    padding-left: 30px;
    font-weight: bold;
}

.navbar i {
    font-size: 22px;
}

.guest-menu a {
    padding: 5px;
    margin: 0px 5px;
    font-size: 15px;
    font-weight: 300;
}

.guest-menu a:hover {
    border-bottom: 3px solid #40d9ac;
    cursor: pointer;
}

#signup-link {
    margin-right: 30px;
}

.user-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlinks a {
    padding: 5px;
    margin: 0px 5px;
    font-size: 15px;
    font-weight: 300;
}

.navlinks a:hover {
    border-bottom: 3px solid #40d9ac;
}

.navbar .dropdown-container {
    position: relative;
    top: 3px;
    display: inline-block;
    padding-right: 30px;
    background-color: #ffffff;
}

.navbar .dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 30px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    width: 200px;
    background-color: #ffffff;
}

.dropdown-container:hover > .dropdown-menu {
    display: block;
} 

.navbar .dropdown-item {
    position: relative;
    left: 30px;
    font-size: 14px;
    display: block;
    padding: 20px 0px;
    transition: transform 0.25s ease-out;
}

.navbar .dropdown-item:hover {
    cursor: pointer;
    transform: translateX(26px);
}

.navbar .divider {
    position: relative;
    left: 30px;
    border-bottom: 1px solid #EBEBEB;
    width: 70%;
}

.navbar img.alpaca {
    height: 43px;
}

.navbar img.pacacamp {
    height: 25px;
}



