html, main, body, section, article, div, header, nav, form,
p, span, input, textarea, h1, h2, h3, h4, a, ul, ol, li, 
figcaption, footer, button, label {
    margin: 0;
	padding: 0;
	border: 0;
    font-family: "Calibre", Helvetica, Arial, Helvetica, sans-serif;
    font-size: 100%;
    vertical-align: baseline;
    color: #333333;
    background: transparent;
    box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none;
}

textarea:focus, input:focus, button:focus {
    outline: none;
}