.spot-show {
    position: relative;
    top: 70px;
}

.spot-show .photos {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
}

.photo-1 > img, .photo-2 > img {
    height: 480px; 
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.photo-1 {
    width: 65%;
}

.photo-2 {
    width: 45%;
}

.photo-1 > img {
    object-fit: cover;
    padding-right: 15px;
}

.photo-2 > img {
    object-fit: cover;
}

.spot-show .make-room {
    width: 81%;
    margin: 0 auto;
    margin-top: 15px;
    max-width: 1080px;
}

.spot-show .spot-show-body {
    width: 66.66666667%;
}

.spot-show .country-location {
    font-size: 15px;
    color: #757575;
}

.spot-show .arrow {
    font-size: 14px;
    color:  rgb(194, 190, 190);
}

.spot-show .name {
    font-size: 36px;
    font-weight: 400;
    padding: 10px 0px;
}

.spot-show .check i {
    font-size: 19px;
    vertical-align: super;
}

.spot-show .turquoise {
    color: #40d9ac;
}

.spot-show .rating {
    font-weight: 500;
    border-bottom: 1px solid  #EBEBEB;
    padding: 9px 7px 22px 7px;
}

.host .avatar img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.host-description .host {
    display: flex;
    justify-content: space-between;
    align-items:  center; 
    width: 30%;
    min-width: 90px;
    height: 90px;
}

.host .credit {
    width: 40%;
    font-size: 14px;
}

.host .credit h2 {
    font-weight: 600;
}

.host-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 35px;
}

.host-description .description {
    width: 65%;
    font-size: 15px;   
}

.host .credit, .host-description .description {
    color: #757575;
    line-height: 1.75;
}

.spot-show .features {
    display: flex;
    flex-wrap: wrap;
}

.spot-show .spacing {
    padding-right: 20px;
    padding-bottom: 20px;
    width: 33.3333%;
    min-width: 220px;
}

.area, .essential, .amenity {
    padding: 15px;
    border: 1px solid  #EBEBEB;
    height: 340px;
}

.spot-show .features > .amenity {
    margin-right: 0px;
} 

.spot-show .features img {
    width: 27px;
    color: #333333;
}

.spot-show .features div {
    color: #333333;
    font-size: 15px;
    font-weight: 300;
}

.spot-show .features span {
    color: #757575;
}

.spot-show .features h2 {
    font-weight: 400;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0.6px;
    margin-bottom: 10px;
}

.spot-show .list-icon {
    display: flex;
    justify-content: flex-start;
}

.spot-show .list-icon > div {
    line-height: 2;
}

.spot-show .details {
    border-top: 1px solid  #EBEBEB;
    border-bottom: 1px solid  #EBEBEB;
    padding: 30px 0px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.spot-show .details .heading {
    width: 17%;
    min-width: 61px;
    vertical-align: bottom;
    font-weight: 500;
    line-height: 2;
}

.spot-show .details .content {
    display: flex;
    justify-content: flex-start;
    width: 83%;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.3px;
}

.spot-show .content > ul {
    width: 50%;
    min-width: 148px;
}

.spot-show .content > .left {
    padding-right: 10px;
}

.details .content li {
    font-size: 14.5px;
    font-weight: normal;
}

.details .content span {
    font-weight: bold;
}
.spot-show .activities {
    margin-top: 30px;
    margin-bottom: 30px;
}

.spot-show .activity > p {
    width: 100px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 0.5px;
    font-size: 15px;
    font-weight: 500;

}

.spot-show .activities > h2 {
    font-weight: 500;
}

.spot-show .activities > p {
    color: #757575;
    line-height: 1.9;
    font-weight: 300;
}

.spot-show .activity img {
    width: 100px;
    border: 1px solid  #EBEBEB;
}

.spot-show .activities .flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.spot-show .activities .activity {
    margin: 0 10px 20px 10px;
    width: 100px;
    height: 137px;
    line-height: 1;
    float: left;
}

.spot-show .activities p {
    margin-bottom: 25px;
}

.spot-map {
    width: 100%;
    height: 450px;
}

.gm-svpc {
    display: none;
}

button.gm-fullscreen-control {
    display: none;
}

.map-container {
    position: relative;
    margin-top: 45px;
}

.tile-container {
    position: absolute;
    width: 100%;
    top: 50px;
    pointer-events: none;
}

.map-container .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.map-container .container:before, .map-container .container:after {
    content: " ";
    display: table;
}

.map-container .tile {
    width: 350px;
    pointer-events: auto;
    background-color: #fff;
    font-size: 0.85em;
    border: 1px solid #ebebeb;
}

.tile-container .tile .dl-horizontal:first-child {
    background-color: #f9f9f9;
}

.tile-container .tile .dl-horizontal:last-child {
    border-top: 1px solid #f9f9f9;
}

.map-container dl {
    margin-top: 0;
    margin-bottom: 22px;
}

.tile-container .tile .dl-horizontal {
    padding: 15px 15px 10px;
    margin-bottom: 0;
}

.map-container dt, .map-container dd {
    font-size: 12px;
    line-height: 1.6;
}

.tile-container .tile .dl-horizontal dt {
    width: 110px;
    text-align: left;
    margin-bottom: 5px;
    float: left;
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.tile-container .tile .dl-horizontal dd {
    margin-left: 115px;
    margin-bottom: 5px;
    font-weight: 300;
}

.dl-horizontal dd:before, .dl-horizontal dd:after {
    content: " ";
    display: table;
}





